.container {
  position: relative;
  background: url("../assets/images/beige.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  height: fit-content;
  padding-block: 4rem;
}

.image {
  width: clamp(300px, 100%, 600px);
  align-self: center;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    background-size: cover;
  }
}
